{% extends 'base.html' %}
{% block body %}
    <div class="container-xxl">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'users:profile' %}">SkyEng</a>
                <div class="navbar-brand">{{ user.username }}</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:profile' %}">Главная</a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-success btn-sm" onclick="location.href='{% url 'logout' %}?next=/'"
                            type="submit">Выйти
                    </button>
                </div>
            </div>
        </nav>
    
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}